* {
  user-select: none;
}

.font-family {
  font-family: "Rubik", "Heebo";
}

.clickable-element:hover {
  cursor: pointer;
  transition: filter 0.3s;
  filter: sepia(20%);
  transform: scale(1.01);
}

.background-sheet {
  min-width: 300px;
}

.dialog-card-container {
  height: 50vh;
}

.dialog-card-title {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.dialog-card-body {
  font-size: 1rem;
}
