.font-family {
  font-family: "Rubik";
}
.clickable-element:hover {
  cursor: pointer;
  transition: filter 0.3s;
  filter: sepia(20%);
  /* transform: scale(1.03); */
  /* box-shadow: 0 0 11px rgba(24, 74, 107, 0.2); */
}
.background-sheet {
  min-width: 300px;
}
